<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
    <title>Zarejestruj się</title>
</head>
<body>
<!--header-->
<div th:replace="fragments::header"></div>
<!--messages-->
<div th:replace="fragments::messages"></div>
<div class="container">
    <form method="post" th:action="@{/register}" th:object="${user}">
        <div class="mb-3">
            <label class="form-label" for="login">Login</label>
            <input class="form-control" id="login" th:field="*{login}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="login">Hasło</label>
            <input class="form-control" id="password" th:field="*{password}" type="password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="login">Imię</label>
            <input class="form-control" id="firstName" th:field="*{firstName}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="login">Nazwisko</label>
            <input class="form-control" id="lastName" th:field="*{lastName}" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="login">Data urodzenia</label>
            <input class="form-control" id="dateOfBirth" th:field="*{dateOfBirth}" type="date">
        </div>
        <button class="btn btn-primary" type="submit">Zarejestruj się</button>
    </form>
</div>
</body>
</html>
